---
layout: default
---

<section id="portfolio">

  <header class="new">
    <h1>///my portfolio</h1>
    <h1 class="flip">///</h1>
  </header>

  <ul>
    {% for project in site.projects %}
    <li>
      <a href="{{ project.url }}">
      {% if project.thumbnail %}
      <img class="thumbnail" src="{{ site.baseurl }}images/{{ project.thumbnail }}"/>
      {% endif %}
      <hgroup>
	<h1>{{ project.title }}</h1>
	<h2>{{ project.subtitle }}</h2>
      </hgroup>
    </li>
    {% endfor %}
  </ul>

</section>

<section id="cv">

    <header class="new">
        <h1>/// my cv</h1>
        <h1 class="flip"> ///</h1>
    </header>

    <section id="infography">
        <img src="{{ media_url ('images/cv.svg') }}" alt="CV"/>
    </section>

</section>

<footer>
    <section class="license">

        <a id="license_icon" rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.eu">
            <img alt="Creative Commons-en baimena" src="{{ media_url ('images/cc-by-sa.svg') }}"/>
        </a>

        <p id="license_text">
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.eu"><span class="bold">iune.info</dpan>ko edukiak kopiatu, moldatu, zabaldu eta argitaratzeko libre zara, beti ere, nire egiletza direla aitortzen baduzu eta baldintza beretan egiten baduzu <span href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">iune.info</span> lana <a href="http://iune.info" property="cc:attributionName" rel="cc:attributionURL">iune</a> egilearena <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.eu">Creative Commons Aitortu-PartekatuBerdin 3.0 Unported baimen baten mende dago.</a>
        </p>

    </section>
</footer>

