---
layout: default
---

<section id="about_me">
  <div id="about_text">
    <header class="section">
      <h1>About me</h1>
    </header>
    {% include about.html %}
  </div>
  <img src="{{ site.baseurl }}images/iune.jpg"/>
</section>

<section id="skills">
  <header class="section">
    <h1>Skills</h1>
  </header>
  <ul>
    <li>Web design</li>
    <li>Advertisement</li>
    <li>Identity & Branding</li>
    <li></li>
    <li></li>
  </ul>
</section>

<section id="portfolio">
    <header class="section">
      <h1>Portfolio</h1>
    </header>
    <ul>
        {% for project in site.projects %}
        <li>
            <a href="{{ project.url }}">
                {% if project.thumbnail %}
                <section class="thumbnail"><img src="{{ site.baseurl }}images/projects/thumbnails/{{ project.thumbnail }}"/></section>
                {% endif %}
                <hgroup>
                    <h1>{{ project.title }}</h1>
                    <h2>{{ project.subtitle }}</h2>
                </hgroup>
            </a>
        </li>
        {% endfor %}
    </ul>
</section>

<section id="contact">
    <header class="section">
        <h1>Contact/CV</h1>
    </header>

    </div>
    <div id="cv">
      <img alt="cv" />
    </div>

    <div id="contact">
      <ul>
        <li><img alt="location" /></li>
        <li><img alt="email" /></li>
        <li><img alt="github" /></li>
        <li><img alt="flickr" /></li>
        <li><img alt="linkedin" /></li>
      </ul>

</section>
