<p><span class="red">Hi!</span> I am a basque Web and Graphic designer currently
  based in Glasgow.</p>
<p>I have been a designer for 5 years. I was studying and working in other areas
  when I realized that I was spending all my time coloziring my university notes
  or making posters for my friends. And I was better on that!</p>
<p>As a graphic designer I have a creative mind, quick solutions and attention
  to detail. Moreover, I love learning continuously and working hand in hand
  with programmers.</p>
<p>Do you want to see my CV? <a href="#cv" id="goCV" class="red">It's here!</a></p>
