section#about_me
    text-align: right
    background: adjust-color(white, $lightness: -2%)
    padding: 4rem 0 2rem 4rem
    box-sizing: border-box
    +grid-row()
    @media #{$small-only}
        padding: 2rem 0 2rem 2rem
    div#about_text
        +grid-column($columns:8, $collapse:true)
        @media #{$small-only}
            padding-right: 2rem !important
            box-sizing: border-box
            +grid-column($columns:12, $collapse:true)
        h1
            margin-right: 2rem
            margin-top: 0
            &:before
                display: none
            &:after
                background: black
                width: 1.3rem
                height: 1em
                position: absolute
                right: -1.7rem
                content: ""
        p
            font-size: 1rem
            @media #{$large-up}
                font-size: 1.2rem
    div#about_image
        box-sizing: border-box
        +grid-column($columns:4, $collapse:true)
        @media #{$small-only}
            padding-right: 2rem !important
            +grid-column($columns:12, $collapse:true)
        img
            width: 80%
            margin: 0 10%
            @media #{$small-only}
                width: 100%
                margin: 0 !important

