section#about_me
    background: adjust-color(white, $lightness: -2%)
    div#about_text
        width: 66%
        display: inline-block
        p
            font-size: 1.2rem
            width: 75%
            float: right
    img
        width: 30%
        display: inline-block
        vertical-align: top
        margin-left: 3%

