section#contact
    background: adjust-color(black, $lightness: 80%)
    padding: 2rem
    box-sizing: border-box
    +grid-row()
    h1
        color: $red
        margin-left: 5rem
        &:before
            background: $red
    div#cv
        padding: 0 !important
        position: relative
        +grid-column(3)
        @media #{$small-only}
            +grid-column(12)
        img
            width: 60%
            margin: 0 20%
            border: $red solid .5rem
            box-sizing: border-box
        a#download
            font-weight: bold
            text-align: center
            font-size: 1.1rem
            position: absolute
            bottom: 1rem
            left: 0
            display: block
            width: 60%
            margin: 0 20%
            color: $red
    div#contact
        padding: 0 !important
        +grid-column(9)
        @media #{$small-only}
            +grid-column(12)
        ul
            padding: 0
            font-size: 0
            margin-top: 2rem
            li
                display: inline-block
                width: 16%
                margin: 2%
                padding: 0
                font-size: 0
                list-style: none
                background: $red
                border-radius: 100%
                img
                    width: 50%
                    margin: 25%
