section#project_detail
    @include grid-row($behavior:nest)
    div#gallery
        @include grid-column($columns:12)
        @media #{$medium-up}
            @include grid-column($columns:8)
        div.arrow
            font-family: $title
            width: 10%
            vertical-align: middle
            display: inline-block
        div#gallery_image
            width: 70%
            vertical-align: middle
            display: inline-block
            img
                width: 100%
            
    article
        @include grid-column($columns:12)
        @media #{$medium-up}
            @include grid-column($columns:4)
        header
            h1
                font-family: $title
                margin-bottom: 0
            h2
                font-family: $subtitle
                margin-top: 0
                line-height: 1em
            div.with_borders
                border-top: .1em dashed black
                border-bottom: .1em dashed black
                padding: 1em 0
                margin: 1.5em 0
                p
                    margin: .5em 0 0 0

                

