header#main
    width: 100%
    height: 100vh
    background: url(../images/iunesketch.jpg)
    background-size: cover
    background-repeat: no-repeat
    div.row
        padding-top: 25vh !important
        height: 50vh
        box-sizing: border-box
        +grid-row()
        img
            display: block
            +grid-column($columns:6, $collapse:true, $center:true)
            @media #{$medium-up}
                +grid-column($columns:3, $collapse:true, $center:true)
            @media #{$large-up}
                +grid-column($columns:2, $collapse:true, $center:true)
        hgroup
            text-align: center
            color: white
            +grid-column($columns:12, $collapse:true, $center:true)
            h1, h2
                font-weight: normal
            h1
                margin-bottom: 0
            h2
                font-family: $serif
                font-size: 2rem
                margin: .5rem
