progress[value]
  background: #b3b3b3
  width: 45%
  border-radius: .3rem
  height: .7rem
  border: none
  vertical-align: middle
  display: inline-block

progress::-webkit-progress-bar
  background: #b3b3b3
  width: 45%
  border-radius: .3rem
  height: .7rem
  border: none
  vertical-align: middle
  display: inline-block

progress::-moz-progress-bar
  background: #501616
  border-radius: .3rem

progress::-webkit-progress-value
  background: #501616
  border-radius: .3rem


