section
    header.section
        h1
            font-family: $display
            font-size: 2rem
            position: relative

section:nth-child(even)
    header.section
        h1
            margin-left: 2rem
            &:before
                background: black
                width: 1.3rem
                height: 1em
                position: absolute
                left: -1.7rem
                content: ""
section:nth-child(odd)
    header.section
        text-align: right
        h1
            margin-right: 2rem
            &:after
                background: black
                width: 1.3rem
                height: 1em
                position: absolute
                right: -1.7rem
                content: ""
