section
    header.section
        h1
            font-family: $display
            font-size: 2rem
            position: relative
            margin-left: 2rem
            &:before
                background: black
                width: 1.3rem
                height: 1em
                position: absolute
                left: -1.7rem
                content: ""

img.separation
    width: 100%
    margin-bottom: -3px
