@font-face 
    font-family: "Amatic"
    src: url(../fonts/amatic/AmaticSC-Regular.ttf)
@font-face 
    font-family: "NeoRetroDraw"
    src: url(../fonts/NeoRetroDraw/NEORD___.ttf)

$title: "Amatic"
$subtitle: "Alex Brush"
$header: "NeoRetroDraw"
$content: "Alegreya"

$darkgrey: #404040
$grey: #808080
$lightgrey: #bfbfbf
$lightergrey: #d4d4d4


