@font-face
    font-family: "Lato"
    src: url(../fonts/lato/Lato-Regular.ttf)
@font-face
    font-family: "Lora"
    src: url(../fonts/lora/Lora-Regular.ttf)
@font-face
    font-family: "Bebas"
    src: url(../fonts/bebas/BebasNeue_Regular.otf)

$sans: Lato
$serif: Aleo
$display: Bebas

$red: #782121
$darkgrey: #1a1a1a
