---
layout: default
---

<section id="project">
  {% if page.images %}
  <section id="gallery">
    <image class="arrow prev" alt="prev" src="{{ site.baseurl }}images/arrows.svg" />
		<div id="gallery_images">
			<div id="image">
				{% for image in page.images %}
				<img src="{{ site.baseurl	}}images/projects/images/{{ image }}"/>
				{% endfor %}
			</div>
		</div>
    <image class="arrow next" alt="next" src="{{ site.baseurl }}images/arrows.svg" />
  </section>
  {% endif %}

  <article>
    <header>
      <hgroup>
        <h1>{{ page.title }}</h1>
        <h2>{{ page.subtitle }}</h2>
      </hgroup>
      <div class="with_borders">
        {% if page.link %}
        <a class="project_link" href="{{ page.link }}">{{ page.link }}</a>
        {% endif %}
        {% if page.license %}
        <p>License: {{ page.license }}</p>
        {% endif %}
      </div>
    </header>
    <div id="article_content">{{ content }}</div>
  </article>

</section>

