---
layout: default
---

<section id="project_detail">

    {% if page.images %}
    <div id="gallery">
        <div class="arrow prev">&lt</div>
        <div id="gallery_images">
            {% for image in page.images %}
            <img src="{{ site.baseurl }}images/projects/images/{{ image }}"/>
            {% endfor %}
        </div>
        <div class="arrow next">&gt</div>
    </div>
    {% endif %}

    <article>
        <header>
            <hgroup>
                <h1>{{ page.title }}</h1>
                <h2>{{ page.subtitle }}</h2>
            </hgroup>
            <div class="with_borders">
                {% if page.link %}
                <a class="project_link" href="{{ page.link }}">{{ page.link }}</a>
                {% endif %}
                {% if page.license %}
                <p>License: {{ page.license }}</p>
                {% endif %}
            </div>
        </header>

        {{ content }}
    </article>

</section>

